- for question in @questions
  .question
    .interested_block
      = partial :interested_user, :question => question

    %h2 
      = link_to question.title, url(:question, :stripped_title => question.stripped_title)

    .question_body
      asked by
      = link_to question.user, url(:show_user, :id => question.user.id)
      on 
      = question.created_at.strftime('%B %m, %Y %H:%M %p')
      %br
      = question.body.truncate(200)

#question_pager
  = paginate @questions
