- for question in @questions
  .question
    .interested_block{ :id => "block_#{question.id}" }
      = partial :interested_user, :question => question

    %h2 
      = link_to question.title, url(:question, :stripped_title => question.stripped_title)

    .question_body
      asked by
      = link_to question.user, url(:user_profile, :login => question.user.login)
      on 
      = question.created_at.strftime('%B %m, %Y %H:%M %p')
      %br
      = question.html_body.truncate(200)

#question_pager
  = paginate @questions
