%h1
  Questions 

%table
  %thead
    %tr
      %th Id
      %th User id
      %th Title
      %th Body
  %tbody    
    %tr
    - for question in @questions
      %tr
        %td
          = question.id 
        %td
          = question.user 
        %td
          = question.title
        %td
          = question.body 
        %td
          = link_to 'Show', url(:question, question)
        %td
          = link_to 'Edit', url(:edit_question,  question)

= link_to 'New', url(:new_question)
