= error_messages_for @question

= form_for(@question, :action => url(:questions) ) do
  %fieldset
    .form-row
      = text_field :title, :label => "Question Title:" 
    .form-row
      = text_area :body, :label => "Your question in details:"
  .submit-row
    = submit "ask it"
