%h1 New Question 

= error_messages_for @question

= form_for(@question, :action => url(:questions) ) do
  %p= text_field :title, :label => "Title : " 
  %p= text_area :body, :label => "Body : "
  %p= submit "Create"

= link_to 'Back', url(:questions)
