.interested_block
  = partial :interested_user, :question => @question

%h2 
  = @question.title 

.question_body
  = @question.html_body

#answers
  - for answer in @question.answers
    .answer
      = partial 'answers/answer', :answer => answer
  .answer{:id => "add_answer"}
    = form_for('', :action => url(:add_answer), :id => "answer_form") do
      .form-row
        - if session.user
          = session.user.login
        - else
          Anonymous Coward
          = link_to_login('login')

      .form-row
        = text_area :body, :label => "Your answer:"

      .submit-row
        = hidden_field :name => 'question_id', :value => @question.id
        = submit "answer it"
