.interested_block
  .interested_mark{ :id => "mark_#{@question.id}" } 
    = @question.interests.size

%h2 
  = @question.title 

.question_body
  = @question.body

#answers
  - for answer in @question.answers
    .answer
      posted by
      
      /on "#{answer.created_at.strftime('%B %d, %Y')"
      /%div
      /  = answer.body
