%table
  %tbody
    %tr
      %th Id:
      %td= @question.id  
    %tr
      %th Title:
      %td= @question.title
    %tr
      %th Body:
      %td= @question.body


= link_to 'Edit',  url(:edit_question,  @question)
|
= link_to 'Back', url(:questions)
