!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title
      Maskeet 
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }/
    %link{ :href => "/stylesheets/layout.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }/
    %link{ :href => "/stylesheets/main.css", :rel => "stylesheet", :media => "screen", :type => "text/css", :charset => "utf-8" }
    %link{ :href => absolute_url(:popular_questions_feed), :rel => "alternate", :type => "application/rss+xml" }
    = js_include_tag 'jquery', 'application'
  %body
    #indicator{ :style => "display: none" }
    #header 
      %ul
        - if session.user
          %li= link_to 'sign out', url(:logout)
          %li= link_to session.user.login, url(:user_profile, :login => session.user.login)
        - else
          %li= link_to 'sign in', url(:login) 
        %li= link_to 'about', url(:questions)
      %h1= link_to 'logo', url(:questions)
    #login{ :style => 'display: none' }
      %h2 Please sign-in first 

      = link_to 'cancel', '#', :id => 'cancel_login'

      %form{ :action => "#{url(:login)}", :method => "POST" }
        %input{ :type => "hidden", :name => "_method", :value => "PUT" }
        login:  
        = text_field :login
        password:
        = text_field :password
        = submit "login"
        = link_to 'Forgot your password?', url(:user_require_password)

    #content  
      #content_main 
        = catch_content :for_layout
        .verticalalign
        
      #content_bar
        = part SidebarPart => :index
        .verticalalign 
